<div class="d-flex flex-wrap">
    <div *ngFor="let character of characters" class="card" style="width: 18rem;">
        <img [src]="character.image" class="card-img-top" [alt]="character.name">
        <div class="card-body">
            <h5 class="card-title">{{character.name}}</h5>
            <p class="card-text">Status: {{character.status}}</p>
            <p>Gender: {{character.gender}}</p>
        </div>
    </div>
</div>
<button *ngIf="page == 1; else previousButton" disabled (click)="previousPageButton()">Previous</button>
<ng-template #previousButton>
    <button (click)="previousPageButton()">Previous</button>
</ng-template>
<button *ngIf="page > 42; else nextButton" disabled (click)="nextPageButton()">Next</button>
<ng-template #nextButton>
    <button (click)="nextPageButton()">Next</button>
</ng-template>